<% Landmark.all.each do |landmark| %>

  <h1><a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a> - <%=landmark.year_completed%></h1>

<% end %>

<br>
<a class="button" href="/landmarks/new">New LANDMARK HERE</a>
<a class="button" href="/figures">View Figures</a>
