<h2><a href="/figures/<%=@figure.id%>"><%=@figure.name%></a></h2>

<h3>Landmarks</h3>
<ul>
  <% @figure.landmarks.each do |landmark| %>
    <li><%=landmark.name%></li>
  <% end %>
</ul>
<br></br>

<h3>Titles</h3>
<ul>
  <% @figure.titles.each do |title| %>
    <li><%=title.name%></li>
  <% end %>
</ul>
